.wrap {
    width: 500px;
    border:5px solid;
    border-radius: 20px 20px 0 0;
    margin: 100px auto;
    font-size: 36px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
.wrap div{
    padding: 30px 0;
}
.box-1 {
    background: tomato;
    width: 50%;
    order: 1;
}
.box-2 {
    width: 33.33%;
    background: royalblue;
    order: 4;
}
.box-3 {
    width: 33.33%;
    background: rebeccapurple;
    order: 3;
}
.box-4 {
    width: 33.33%;
    background: green;
    order: 5;
}
.box-5 {
    width: 50%;
    background: orange;
    order: 2;
}
